@page "/"

<PageTitle>GPV Dotnet</PageTitle>

<h1>Github Profile Viewer Dotnet!</h1>

<i>Search for a Github user to view their profile</i>
<div class="text-muted">It's a clone of githubprofileviewer.com built with .net</div>
<GPVBlazor.Components.Displays.SearchBarDisplay/>
