@page "/"
@rendermode InteractiveServer
@inject IJSRuntime JS

<PageTitle>GPV Dotnet</PageTitle>

<h1 class="title">GitHub Profile Viewer Dotnet!</h1>

<i>Search for a GitHub user to view their profile</i>
<div class="subtitle is-6">It's a clone of githubprofileviewer.com built with .net</div>

<div class="is-flex is-flex-direction-column is-gap-2">
    <GPVBlazor.Components.Displays.SearchBarDisplay />

    <div class="field has-addons">
        <div class="control is-expanded">
            <input @bind="AuthToken" placeholder="Enter Auth Token" class="input" />
        </div>
        <div class="control">
            <button class="button is-primary" @onclick="AddToken">Add Token</button>
        </div>
    </div>
    <p class="help is-italic">Auth token is storing in local storage.</p>
</div>

@code {
    private string? AuthToken { get; set; } = string.Empty;

    private async Task AddToken()
    {
        if (!string.IsNullOrWhiteSpace(AuthToken))
        {
            await JS.InvokeVoidAsync("localStorage.setItem", "authToken", AuthToken);
            await JS.InvokeAsync<object>("alert", "Token added successfully");
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        AuthToken = await JS.InvokeAsync<string>("localStorage.getItem", "authToken");
        StateHasChanged();
    }
}
