@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components

<article class="content">
    <GPVBlazor.Components.Displays.NavbarDisplay />
    @Body
</article>

<footer class="footer">
    <div class="container">
        <div class="has-text-centered">
            <div class="columns">
                <div class="column">
                    <h3 class="title is-5">
                        <span class="icon">
                            <i class="fab fa-github"></i>
                        </span>
                        <span>GitHub Profile Viewer</span>
                    </h3>
                    <p class="subtitle is-6">
                        Explore GitHub profiles with comprehensive insights
                    </p>
                </div>
                <div class="column">
                    <p class="title is-6">Quick Links</p>
                    <p>
                        <a href="/" class="has-text-grey-light">
                            <span class="icon is-small">
                                <i class="fas fa-home"></i>
                            </span>
                            Home
                        </a>
                    </p>
                    <p>
                        <a href="https://sametcc.me/repo/GPVBlazor" target="_blank" class="has-text-grey-light">
                            <span class="icon is-small">
                                <i class="fab fa-github"></i>
                            </span>
                            Source Code
                        </a>
                    </p>
                </div>
                <div class="column">
                    <p class="title is-6">Built With</p>
                    <div class="tags are-medium justify-content-center">
                        <span class="tag is-primary">
                            <span class="icon">
                                <i class="fas fa-bolt"></i>
                            </span>
                            <span>Blazor</span>
                        </span>
                        <span class="tag is-info">
                            <span class="icon">
                                <i class="fab fa-css3-alt"></i>
                            </span>
                            <span>Bulma</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

