@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components

<div class="px-4 py-2">
    <GPVBlazor.Components.Displays.NavbarDisplay />
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

