@rendermode InteractiveServer
@using GPVBlazor.Models

@if (ShowModal && Users is not null)
{
    <div class="modal" tabindex="-1" style="display:block;" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@ModalTitle</h5>
                    <button type="button" class="btn-close" @onclick="() => ShowModal = false" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <Virtualize Items="Users" Context="user">
                        <a class="d-flex align-items-center gap-2 fw-bold" href="@UserListUrl(user)" @key="user.NodeId">
                            <img src="@user.AvatarUrl" alt="Avatar" class="img-thumbnail rounded-circle mb-3" style="width: 60px; height: 60px;" />
                            <div>@user.Login</div>
                        </a>
                    </Virtualize>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public bool ShowModal { get; set; }
    [Parameter] public List<User>? Users { get; set; }
    public enum ModalTitleEnum
    {
        Followers,
        Following
    }

    [Parameter] public ModalTitleEnum ModalTitle { get; set; }

    private string UserListUrl(User user) => $"/p/{user.Login}";
}