@rendermode InteractiveServer
@using GPVBlazor.Models

@if (ShowModal && Users is not null)
{
    <div class="modal is-active">
        <div class="modal-background" @onclick="() => ShowModal = false"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">@ModalTitle</p>
                <button class="delete is-large" aria-label="close" @onclick="() => ShowModal = false"></button>
            </header>
            <section class="modal-card-body">
                <Virtualize Items="Users" Context="user">
                    <UserListItem user="user" />
                </Virtualize>
            </section>
        </div>
    </div>

}

@code {
    [Parameter] public bool ShowModal { get; set; }
    [Parameter] public List<User>? Users { get; set; }
    public enum ModalTitleEnum { Followers, Following }

    [Parameter] public ModalTitleEnum ModalTitle { get; set; }

    private string UserListUrl(User user) => $"/p/{user.Login}";
}