@rendermode InteractiveServer


<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <NavLink href="navbar-item" Match="NavLinkMatch.All">
            <span class=" button is-primary">Home</span>
        </NavLink>

        <!-- Navbar burger -->
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="@isMenuActive.ToString()" @onclick="ToggleNavbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="@GetNavbarMenuClass()">
        <div class="navbar-start">
            <!-- Additional navbar items can go here -->
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <NavLink class="button is-primary" href="/p/sametcn99" Match="NavLinkMatch.All">
                    <span>sametcn99</span>
                </NavLink>
            </div>
            <div class="navbar-item">
                <a href="https://sametcc.me/GPVBlazor" target="_blank" class="button is-info">Source Code</a>
            </div>
        </div>
    </div>
</nav>

@code {
    private bool isMenuActive = false;

    private void ToggleNavbar()
    {
        isMenuActive = !isMenuActive;
    }

    private string GetNavbarMenuClass()
    {
        return "navbar-menu" + (isMenuActive ? " is-active" : "");
    }
}