@rendermode InteractiveServer
@using GPVBlazor.Models

@if (ShowModal)
{
    <div class="modal is-active">
        <div class="modal-background" @onclick="CloseModalAsync"></div>
        <div class="modal-card" role="document">
            <header class="modal-card-head">
                <p class="modal-card-title">
                    Readme
                </p>
                <button class="delete is-large" aria-label="close" @onclick="CloseModalAsync"></button>
            </header>
            <section class="modal-card-body">
                <article class="content">
                    @if (readme is not null && !string.IsNullOrWhiteSpace(readme.Content))
                    {
                        @((MarkupString)readme.Content)
                    }
                    else
                    {
                        <p>No readme found.</p>
                    }
                </article>
            </section>
        </div>
    </div>
}


@code {
    [Parameter] public bool ShowModal { get; set; }
    [Parameter] public Readme? readme { get; set; }
    [Parameter] public EventCallback<bool> ShowModalChanged { get; set; }

    private async Task CloseModalAsync()
    {
        if (!ShowModal)
        {
            return;
        }

        ShowModal = false;
        await ShowModalChanged.InvokeAsync(false);
        await InvokeAsync(StateHasChanged);
    }
}
