@rendermode InteractiveServer
@using GPVBlazor.Models

@if (ShowModal)
{
    <div class="modal" tabindex="-1" style="display:block;" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex flex-column align-items-start">
                    <h5 class="modal-title">Readme</h5>
                    <a class="text-muted" href="https://github.com/sindresorhus/github-markdown-css/blob/main/github-markdown-dark.css" target="_blank">Readme css source</a>
                    <button type="button" class="btn-close" @onclick="() => ShowModal = false" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <article class="markdown-body p-2">
                        @if (readme is not null && !string.IsNullOrWhiteSpace(readme.Content))
                        {
                            @((MarkupString)readme.Content)
                        }
                        else
                        {
                            <p>No readme found.</p>
                        }
                    </article>

                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public bool ShowModal { get; set; }
    [Parameter] public Readme readme { get; set; }
}